@CHARSET "ISO-8859-1";
body {
	text-align: center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	width:100%;
	font-size: 11px;
	background:none;
	color: #3e3e3e;
	background-color:#e1e0e0;
	overflow-x:hidden;
	height: 100%;
}

html {
	text-align:center;
	margin: 0px;
	height: 100%;
	width:100%;
	background-color:#e1e0e0;
}

.wrapper {
	position:relative;
	align:center;
	width:100%;
	padding:0px;
	height:auto;
	margin:0 auto;
	background:none;
}

.wrapper_index {
	position:relative;
	align:center;
	width:100%;
	padding:10px 0 0 0;
	height:auto;
	margin:0 auto;
	background:none;
	background-image:url('/images/index_bg.png');
	background-repeat: repeat-x;
}

.header_bar {
	position:relative;
	align:center;
	width:100%;
	padding:0px;
	height:100px;
	margin:0 auto;
	background: none;
	background-color: #00a8e1;
	*background-color: #0b5f9f;
	background-image: -moz-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00a8e1), to(#0b5f9f));
	background-image: -webkit-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: -o-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: linear-gradient(to bottom, #00a8e1, #0b5f9f);
	-pie-background: linear-gradient(#00a8e1, #0b5f9f);	
	background-repeat: repeat-x;
}

.heading {
	position:relative;
	overflow: hidden;
	padding: 0px;
	margin: 0px auto;
	width:990px;
	height: auto;
	text-align:left;
	background:none;
}

.header_bar .heading {
	background:none;
	background-image:url('/images/logo.png');
	background-repeat:no-repeat;	
	height:100px;
}

.logo {
	float:left;
	position:relative;
	overflow: hidden;
	padding: 0px;
	margin: 0px auto;
	width:230px;
	height: 97px;
	text-align:left;
	background:none;
	background-image:url('/images/logo.png');
	background-repeat:no-repeat;
}

.menu_bar {
	position:relative;
	align:center;
	width:100%;
	padding:4px 0 0 0;
	height:41px;
	margin:0 auto 30px auto;
	background: none;
	background-color: #9d9d9d;
	*background-color: #626060;
	background-image: -moz-linear-gradient(top, #9d9d9d, #626060);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9d9d9d), to(#626060));
	background-image: -webkit-linear-gradient(top, #9d9d9d, #626060);
	background-image: -o-linear-gradient(top, #9d9d9d, #626060);
	background-image: linear-gradient(to bottom, #9d9d9d, #626060);
	-pie-background: linear-gradient(#9d9d9d, #626060);	
	background-repeat: repeat-x;
	
	-webkit-box-shadow: inset 0 5px 8px rgba(255, 255, 255, 0.6);
	-moz-box-shadow: inset 0 5px 8px rgba(255, 255, 255, 0.6);
	box-shadow: inset 0 5px 8px rgba(255, 255, 255, 0.6);	
}

.dashboard {
	display: inline-block;
	position:relative;
	background: none;
	background-color: #11afe5;
	*background-color: #125f9a;
	background-image: -moz-linear-gradient(top, #11afe5, #125f9a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#11afe5), to(#125f9a));
	background-image: -webkit-linear-gradient(top, #11afe5, #125f9a);
	background-image: -o-linear-gradient(top, #11afe5, #125f9a);
	background-image: linear-gradient(to bottom, #11afe5, #125f9a);
	-pie-background: linear-gradient(#11afe5, #125f9a);	
	background-repeat: repeat-x;
	
	border:1px solid #5c5c5c;	
	
	overflow:hidden;
	width:130px;
	height:27px;
	padding:12px 0 0 0;
	text-align:center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	-khtml-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	-khtml-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	
	-webkit-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);	
}

.welcome {
	display: inline-block;	
	float:right;
	position:relative;
	overflow:hidden;
	padding:12px 0 0 0;
	text-align:center;
	color: #ffffff;
	font-size:14px;
	font-weight:bold;
}

.exit {
	float:right;
	position:relative;
	overflow: hidden;
	padding: 0px;
	margin: 53px 8px 0 0;
	width:90px;
	height: 36px;
	text-align:left;
	background:none;
	background-image:url('/images/sign_out.png');
	cursor:pointer;
}

.main {
	position:relative;
	padding: 10px 0px;
	margin: 0px auto;
	width: 990px;
	height: 100%;
	text-align:left;
	background:none;
}

.content {
	float:left;
	position:relative;
	overflow: hidden;
	padding: 0 10px;
	margin: 0px;
	width:970px;
	height: 100%;
	text-align:left;
	background:none;
}

h1 {
	float:left;
	postion:relative;
	padding:0;
	font-size:2.5em;
	font-weight:bold;
	color:#ffffff;
	text-shadow:
	-1px -1px 0 #2b2b6d,
	1px -1px 0 #2b2b6d,
	-1px 1px 0 #2b2b6d,
	1px 1px 0 #2b2b6d;
	background: none;
}

h2 {
	float:left;
	postion:relative;
	padding:0;
	font-size:1.8em;
	color:#ffffff;
	font-weight:bold;
	text-shadow:
	-1px -1px 0 #2b2b6d,
	1px -1px 0 #2b2b6d,
	-1px 1px 0 #2b2b6d,
	1px 1px 0 #2b2b6d;
	background: none;
}

h3 {
	postion:relative;
	padding:0;
	font-size:1.7em;
	font-weight:normal;
	color:#ffffff;
	text-shadow:
	-1px -1px 0 #2b2b6d,
	1px -1px 0 #2b2b6d,
	-1px 1px 0 #2b2b6d,
	1px 1px 0 #2b2b6d;
	background: none;
}

h4 {
	postion:relative;
	padding:0;
	font-size:1.5em;
	font-weight:normal;
	color:#ffffff;
	background: none;
}

h5 {
	postion:relative;
	padding:0;
	font-size:1.2em;
	font-weight:normal;
	color:#ffffff;
	background: none;
	text-shadow:
	-1px -1px 0 #2b2b6d,
	1px -1px 0 #2b2b6d,
	-1px 1px 0 #2b2b6d,
	1px 1px 0 #2b2b6d;
}

.index_box {
	position:relative;
	overflow: hidden;
	padding: 0px;
	margin: 0px auto;
	width:980px;
	height: 280px;
	text-align: center;
	background:none;
	background-image: url('/images/index_box_bg.png');
	border: 1px solid #9c9c9c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/library/jscript/PIE.htc);
}

.image_box {
	float:left;
	position:relative;
	overflow: hidden;
	padding: 0px;
	margin: 0 0 0 7px;
	width:706px;
	height: 280px;
	text-align:left;
	background:none;
	background-image: url('/images/suppliers.png');
	border:none;
}

.login_box {
	display: inline-block;
	position:relative;
	overflow: hidden;
	padding: 0px;
	margin: 17px auto 0 auto;
	width:640px;
	height: 247px;
	text-align:center;
	background:none;
	background-image: url('/images/trans_black.png'); 
	border: 1px solid #6d6d6d;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/library/jscript/PIE.htc);
}

.login_box a {
	font-weight:bold;
	color:#FFFFFF;
}

.login_header {
	display: inline-block;
	position:relative;
	overflow: hidden;
	padding: 10px 0px 0px 18px;
	margin: 0;
	width:622px;
	height: 29px;
	text-align:left;
	background: none;
	background-color: #00a8e1;
	*background-color: #0b5f9f;
	background-image: -moz-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00a8e1), to(#0b5f9f));
	background-image: -webkit-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: -o-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: linear-gradient(to bottom, #00a8e1, #0b5f9f);
	-pie-background: linear-gradient(#00a8e1, #0b5f9f);	
	background-repeat: repeat-x;
	
	-webkit-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);	
	
	border: none;
}

.login_area {
	display: inline-block;
	position:relative;
	overflow: hidden;
	padding: 10px 0px 0px 18px;
	margin: 0 auto;
	width:222px;
	text-align:left;
	background:none;
	border: none;
}

input[type="text"], input[type="password"]{
	float:left;
	position: relative;
	border: 1px solid #565656;
	width:190px;
	padding: 3px 2.1em 3px 1em;
	line-height: 1.4em;
	margin: 0;
	-moz-box-shadow: inset 3px 3px 7px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 3px 3px 7px rgba(0,0,0,0.4);
	box-shadow: inset 3px 3px 7px rgba(0,0,0,0.4);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;	
	background-color: #e1e0e0;
}

.login_area input[type="text"], .login_area input[type="password"]{
	margin: 7px 0 10px 0;	
}

.button, .jButton.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only, .ui-selectmenu.ui-button.ui-widget.ui-state-default.ui-corner-all {
	position:relative;
	margin: 5px auto;
	padding: 0 30px;
	text-decoration:none;
	height:30px;
	line-height:30px;
	color:#ffffff;
	font-weight:bold;
	font-size:12px;
	border:1px solid #5c5c5c;
	background: none;
	background-color: #00a8e1;
	*background-color: #0b5f9f;
	background-image: -moz-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00a8e1), to(#0b5f9f));
	background-image: -webkit-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: -o-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: linear-gradient(to bottom, #00a8e1, #0b5f9f);
	-pie-background: linear-gradient(#00a8e1, #0b5f9f);	
	background-repeat: repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);	
	
	behavior: url('/library/jscript/PIE.htc');
}

.mini_button, .mini_button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
	position:relative;
	margin: 0 auto;
	padding: 2px 6px;
	text-decoration:none;
	height:18px;
	line-height:13px;
	color:#ffffff;
	font-weight:bold;
	font-size:11px;
	border:1px solid #5c5c5c;
	background: none;
	background-color: #00a8e1;
	*background-color: #0b5f9f;
	background-image: -moz-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00a8e1), to(#0b5f9f));
	background-image: -webkit-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: -o-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: linear-gradient(to bottom, #00a8e1, #0b5f9f);
	-pie-background: linear-gradient(#00a8e1, #0b5f9f);	
	background-repeat: repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);	
}

.dialog_1 {
	display:none;
	overflow:hidden;
	z-index: 10000;
}

.ui-dialog-content .ui-widget-content {
	align:center;
	position:relative;	
	width:100%;
}

hr.hr_grey {
	float:left;
	position:relative;
	width:100%;
    padding: 2px 0;
    border: none;
	background-image:url('/images/index_hr.png');
	background-repeat: repeat-x;
    text-align: center;
	margin: 12px 0;
	height: 8px;
}

.index_third {
	float:left;
	position:relative;
	overflow: hidden;
	padding: 0px;
	margin: 10px 0 0 0;
	width:300px;
	height: 132px;
	text-align:left;
	background-color: #c9c8c8;
	border: 1px solid #c0bfbf;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	behavior: url('/library/jscript/PIE.htc');
}

#details.dash_item{
	margin: 10px 30px 0 0;
}

#orders.dash_item{
	margin: 10px 30px 0 0;
}

.dash_item {
	float:left;
	position:relative;
	overflow: hidden;
	padding: 0px;
	margin: 10px 0 0 0;
	width:300px;
	height: 122px;
	text-align:left;
	background-color: #d5d4d4;
	border: 1px solid #bcbcbc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	behavior: url('/library/jscript/PIE.htc');
}

.dash_image {
	float:left;
	position:relative;
	overflow: hidden;
	padding: 18px 0 0 0;
	margin: 0;
	font-size: 35px;
	color: #0b5f9f;
	width:138px;
	height: 104px;
	text-align: center;
	background:none;
	border: none;
}

.dash_text {
	float:left;
	position:relative;
	overflow: hidden;
	padding: 0;
	margin: 0 10px;
	width:142px;
	height: 122px;
	line-height: 122px;
	text-align:center;
	background:none;
	border: none;
}

.dash_text .outer {
	display: table;
	width:142px;
	height: 122px;
	#position: relative;
	overflow: hidden;
}

.dash_text .outer .middle {
	#position: absolute;
	#top: 50%;
	display: table-cell;
	vertical-align: middle;
}

.dash_text .outer .middle .inner {
	#position: relative;
	#top: -50%;
}

.search_box {
	float: left;
	position:relative;
	width:938px;
	padding: 5px 15px;
	margin:0 0 15px 0;
	background:none;
	background-image: url('/images/trans_black.png');
	border: 1px solid #6d6d6d;
	border-top:none;
}

.search_box table {
	width:938px;
}

.search_heading {	
	position:relative;
	overflow:hidden;
	min-height: 20px;
	
	text-shadow: 0 1px 0 #000000;
	background: none;
	background-color: #00a8e1;
	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00a8e1), to(#0b5f9f));
	background-image: -webkit-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: -o-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: linear-gradient(to 00a8e1, #448bc1, #0b5f9f);
	-pie-background: linear-gradient(#00a8e1, #0b5f9f);	
	background-repeat: repeat-x;
	
	border: 1px solid #6d6d6d;
	border-bottom:none;
	
	-webkit-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);	
	
	font-weight:bold;	
	color:#fff;
	padding:10px;
	margin:0;
	height:20px;
	
	z-index: 0;
	
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;	
	
}

.search_results_div {
	background-color:#F5F3EF;
	height:100px;
	overflow:scroll;
	overflow-x:hidden;
	padding:0px;
	border-left:1px solid #6d6d6d;
	border-right:1px solid #6d6d6d;
	border-bottom:1px solid #6d6d6d;
	position: relative;
	color:#333333;
	width:968px;
	display:none;
}

.dialog_1 .search_results_div {
	width:873px;
	overflow:scroll;
	overflow-x:hidden;
}

.search_results_div table {
	width:980px;
	background-color: #fff;
	color:#333333;
}

.dialog_1 .search_results_div table {
	width:885px;
}

.search_results_div table tr td {
	border-bottom:1px solid #6d6d6d;
	border-right:1px solid #6d6d6d;
	padding: 5px 8px 5px 8px;
	/* cursor:pointer;  - DO NOT uncomment, use the .hover class to override */
	vertical-align:top;
	background-color: none !important;
	color:#333333;
}

.search_results_div table tr td.end {
	border-right:none;
}

.dialog_1 table td {
	text-align:left;
}

.search_results_div table thead {
	display:none;
}

table.hover tr:hover td, tr:hover td.hover {
	cursor:pointer;
	background-color:#FBF5E1;
}

.template_include {
	display:none;
}

.ui-combobox {
	float:left;
	position: relative;
	display: inline-block;
	margin:0;
	padding:2px 0;
	top: 0;
}

.ui-menu-item {
	text-align:left;
}

.ui-combobox-toggle {
	float:left;
	position: relative;
	margin: 0;
	padding: 8px 0 5px 0;
	border: 1px solid #565656;
	height:16px;
	top: 0;
}

.ui-combobox-input {	
	float:left;	
	position: relative;	
	margin: 0;
	border: 1px solid #565656;
	height:29px;
	padding: 0 5px;
	line-height:29px;
	-moz-box-shadow: inset 3px 3px 7px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 3px 3px 7px rgba(0,0,0,0.4);
	box-shadow: inset 3px 3px 7px rgba(0,0,0,0.4);
	top: 0;
	width:inherit;
}

/*Paging*/

.paging {
	width:100%;
	padding:0;
	margin:0;
}

ul.paging li {
	list-style: none;
	float: left;
	width:100%;	
	margin:0;
	padding:0;
}

.pagination {
	width:100%;
}

ul.pagination li {
	list-style: none;
	float: left;
	margin-right: 5px;
	padding:5px;
	border:solid 1px #dddddd;
	color:#0063DC;
}

ul.pagination .active {
	color:#FF0084;
}

ul.pagination li:hover {
	color:#FF0084;
	cursor: pointer;
}

.results {
	float:left;
	position:relative;
	width:725px;
	padding:0;
	margin:7px 0 0 0;
	border-top: none;
}

.form_row {
	float:left;
	position:relative;
	width:725px;
	margin:0;
	padding:0;
	border:1px solid #416CA0;
	border-top:none;
}

.header_row, .sub_header_row {
	float:left;
	position:relative;
	width:725px;
	margin:0;
	padding:0;
	color:#363366;
	font-weight:bold;
	height:38px;
	background-image: url(/images/bar_bg.png);
	background-position: bottom;
	background-repeat: repeat-x;
	background-color: #448bc1;
	border: 1px solid #6d6d6d;
	overflow:hidden;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	-khtml-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	-khtml-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}

.form_label {
	float:left;
	position:relative;
	width:102px;
	margin:0;
	padding:2px 5px;
	line-height:20px;
	background-color:#cccccc;
	color:#416CA0;
	text-align:left;
	text-decoration:none;
}

.header_row .form_label {
	height:34px;
	line-height:34px;
	color:#ffffff;
	background: transparent;
}

.header_row .border {
	border-right:1px solid #363366;
}

.form_row .border {
	 border-right:1px solid #416CA0;
}

.form_item {
	float:left;
	position:relative;
	width:240px;
	margin:0;
	padding:2px 5px;
	color:#416CA0;
}

a.form_row {
	color:#416CA0;
	text-decoration:none;	
	cursor:pointer;	
}

/*Menu*/

.menu {
	position: absolute;
	padding:0 10px;
	width: 220px;
	z-index: 1000;
	background-color:#0b5f9f;
}

.menu .ui-menu-item {
	color:#ffffff;
	text-align:left;
	padding:4px 0 12px 0;
	background-color: transparent;
	background-image: url(/images/menu_hr.png);
	background-position: bottom;
	background-repeat: no-repeat;
	border: none;
}

.menu .ui-menu-item.last {
	text-align:left;
	padding-bottom:8px;
	background:none;
}

.ui-menu-item.ui-state-focus {
	background-color: transparent;
}

.ui-menu-item a:hover {
	color:#000000;
	border: none;
	background-color: transparent;
}

.ui-menu-item a {
	font-size: 1.2em;
	color:#ffffff;
}

.ui-menu-item a {
	font-size: 1.2em;
	color:#ffffff;
}

table td {
	vertical-align: middle;	
}
/* Tablesorter */

.results_header_table {
	width:968px;
	height:38px;
	border: 1px solid #6d6d6d;
	overflow:hidden;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	-khtml-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	-khtml-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}

.dialog_1 .results_header_table {
	width:873px;
}

.results_header_table table  {
	width:968px;
}

.dialog_1 .results_header_table table {
	width:873px;
}

.results_header_table table th {
	cursor:pointer;
	vertical-align:middle;
}

.results_header_table table th.header span {
	background-image: url(/images/no_sort.png);
	background-repeat: no-repeat;
	background-position: top right;
}

.results_header_table table th.headerSortUp span {
	background-image: url(/images/desc_sort.png);
	background-repeat: no-repeat;
	background-position: top right;
}

.results_header_table table th.headerSortDown span {
	background-image: url(/images/asc_sort.png);
	background-repeat: no-repeat;
	background-position: top right;
}

.results_header_table table td, .results_header_table table th {
	font-weight:bold;
	padding: 8px;
	background: none;
	background-color: #00a8e1;
	*background-color: #0b5f9f;
	background-image: -moz-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00a8e1), to(#0b5f9f));
	background-image: -webkit-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: -o-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: linear-gradient(to bottom, #00a8e1, #0b5f9f);
	-pie-background: linear-gradient(#00a8e1, #0b5f9f);	
	background-repeat: repeat-x;
	
	-webkit-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	color:#fff;
	border-right:1px solid #6d6d6d;
	height:22px;
}

.results_header_table table th.end {
	border-right:none;
}

.results_header_table table th a {
	text-decoration:underline;
	color:#fff;
}

.results_header_table table tbody {
	display:none;
}

.ui-selectmenu-open {
	z-index: 11000;
}