<!DOCTYPE html>
<html lang="en">
	<head>
		<title><?=$title?></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		
		<link rel="stylesheet" type="text/css" href="<?=$UTILS_WEBROOT?>css/reset.css" />
		<link rel="stylesheet" type="text/css" href="<?=$UTILS_WEBROOT?>css/main.css" />

		<script type="text/javascript" src="<?=$UTILS_WEBROOT?>library/jscript/jquery-1.8.3.js"></script>
		<script type="text/javascript" src="<?=$UTILS_WEBROOT?>library/jscript/jquery-ui-1.11.2.min.js"></script>
		<script type="text/javascript" src="<?=$UTILS_WEBROOT?>library/jscript/cufon.js"></script>
		<script type="text/javascript" src="<?=$UTILS_WEBROOT?>library/fonts/gotham.js"></script>
		<script type="text/javascript" src="<?=$UTILS_WEBROOT?>library/jscript/common.js"></script>
		<script type="text/javascript" src="<?=$UTILS_WEBROOT?>library/jscript/jquery.qtip.js"></script>
		<script type="text/javascript" src="<?=$UTILS_WEBROOT?>library/jscript/jquery-build_tooltip.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<?=$header;?>
			<?=$content;?>
		</div>
	</body>
</html>