<div class="main">
	<div class="content">
		<? if($_SESSION['contractors_parent'] != "0"){?>
		<a href="change_details.php">
		<? }else{ ?>
		<a href="users.php">
		<? } ?>
			<div class="dash_item" id="details">
				<div class="dash_image">
				</div>
				<div class="dash_text">
					<div class="outer">
					    <div class="middle">
					      	<div class="inner">
								<h3>User Details</h3>
					    	</div>
						</div>
					</div>
				</div>
			</div>
		</a>
		<a href="po.php">
			<div class="dash_item" id="orders">
				<div class="dash_image">
				</div>
				<div class="dash_text">
					<div class="outer">
					    <div class="middle">
					      	<div class="inner">
								<h3>Purchase Orders</h3>
					    	</div>
						</div>
					</div>
				</div>
			</div>
		</a>
		<a href="reports.php">
			<div class="dash_item" id="reports">
				<div class="dash_image">
				</div>
				<div class="dash_text">
					<div class="outer">
					    <div class="middle">
					      	<div class="inner">
								<h3>Reports</h3>
					    	</div>
						</div>
					</div>
				</div>
			</div>
		</a>
		<a href="howto.php">
			<div class="dash_item" id="howto">
				<div class="dash_image">
				</div>
				<div class="dash_text">
					<div class="outer">
						<div class="middle">
							<div class="inner">
								<h3>How To Use</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>


	</div>
</div>