<br/><br/>
<div class="main">
	<div class="content">
		<video width="960" height=700" id="howto_video"  src="videos/Contractor_Portal_Training_Video.mp4" frameborder="0" webkitallowfullscreen
				mozallowfullscreen allowfullscreen controls autoplay></video>
	</div>
</div>