<table id="contractor_row" class="template_include">
	<thead>
		<tr>
			<th width="120">Qube Ref.</th>
			<th width="420">Contractor Name</th>
			<th width="280">Email</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="dataTables_empty">Loading</td>
			<td class="dataTables_empty">Data From</td>
			<td class="dataTables_empty">Server</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th><input type="text" value="Search Ref." class="search_init" /></th>
			<th><input type="text" value="Search Name" class="search_init" /></th>
			<th><input type="text" value="Search Email" class="search_init" /></th>
		</tr>
	</tfoot>
</table>