<thead>
<tr>
	<th width="100">PO Number</th>
	<th width="200">Expected Completion Date</th>
	<th width="200">Estimated Completion Date</th>
	<th width="200">Quoted Amount</th>
	<th>Update</th>
</tr>
</thead>
<tbody>
<tr>
	<td class="dataTables_empty">Loading</td>
	<td class="dataTables_empty">Data</td>
	<td class="dataTables_empty">From</td>
	<td class="dataTables_empty">Server</td>
	<td class="dataTables_empty"></td>
</tr>
</tbody>