<thead>
<tr>
	<th width="80%">Note</th>
	<th width="20%">Date</th>
</tr>
</thead>
<tbody>
<tr>
	<td class="dataTables_empty">Loading Data</td>
	<td class="dataTables_empty">From Server</td>
</tr>
</tbody>