<table id="report_row" class="template_include">
	<thead>
		<tr>
			<th width="100">PO Number</th>
			<th width="520">Property</th>
			<th width="120">Lines Open</th>
			<th class="end">Date</th>
		</tr>
	</thead>
	<tbody>
		<tr id="report_row_REPORT_ID" onclick="REPORT_ONCLICK ">
			<td class="hover" width="100">REPORT_NUMBER</td>
			<td class="hover" width="520">REPORT_PROPERTY</td>
			<td class="hover" width="120">REPORT_LINES</td>
			<td class="hover end">REPORT_DATE</td>
		</tr>
	</tbody>
</table>