<table id="service_row" class="template_include">
	<thead>
		<tr>
			<th width="300">Name</th>
			<th class="end">Outer Codes</th>
		</tr>
	</thead>
	<tbody>
		<tr id="service_row_SERVICE_ID" onclick="SERVICE_ONCLICK">
			<td class="hover" width="300">SERVICE_NAME</td>
			<td class="hover end">SERVICE_OUTER_CODES</td>
		</tr>
	</tbody>
</table>