.multi-file-upload {
	outline: 0 none;
	overflow: hidden;
	border-radius: 6px;
	padding: 0em;

	position: fixed;
	top: 0;
	right: 0;
	left: 5%;
	margin: 20px 0;
	max-height: calc(100% - 40px);

	display: none;
	width: 90%;
	box-sizing: border-box;
	background: linear-gradient(to bottom, #dadada, #ffffff);
	box-shadow: 0 5px 27px rgba(0, 0, 0, 0.4);

	z-index: 1501;
	-webkit-overflow-scrolling: touch;
}

.multi-file-upload-back-drop {
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	left: 0;
	position: fixed;
	display: none;
	top: 0;
	width: 100%;
	z-index: 1500;
}

.multi-file-upload i {
	color: #969696;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
}

.multi-file-upload-heading {
	display: block;
	width: 100%;
	background: linear-gradient(to bottom, #f2f2f2, #d5d5d5);
	box-shadow: 0 1px 2px rgba(255, 255, 255, 0.75) inset;
	border-radius: 6px 6px 0 0;
	height: 52px;
	padding: 12px 20px;
	box-sizing: border-box;
	text-align: right;
}

.multi-file-upload-heading button {
	border: none;
	background: none;
	font-size: 25px;
}

.multi-file-upload-heading button:hover {
	cursor: pointer;
}

.multi-file-upload-heading button:hover i {
	color: #767676;
}

.multi-file-upload-content {
	display: flex;
	flex-direction: row;
	width: 100%;
	box-sizing: border-box;
}

.multi-file-upload-footer {
	display: block;
	width: 100%;
	border-radius: 0 0 6px 6px;
	background-color: #dcdcdc;
	border-top: 1px solid #cfcfcf;
	padding: 12px 20px;
	box-sizing: border-box;
	text-align: left;
}

.multi-file-upload-section {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: inline-block;
	width: 84%;
	height: 100%;
	vertical-align: top;
}

.multi-file-upload-group {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.multi-file-upload .multi-file-upload-file {
	background: linear-gradient(to bottom, #dddddd, #c0c0c0);
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) inset, 0 5px 10px rgba(0, 0, 0, 0.4);
	border: 1px solid #bbbbbb;
	border-radius: 6px;
	margin: 10px 10px 10px 10px;
	padding: 20px 10px;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: bold;
}

.multi-file-upload .multi-file-upload-slide {
	position: absolute;
	float: left;
	width: 100%;
	opacity: 0;
	height: auto;
	margin: 0;
	background-color: transparent !important;
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0;
	z-index: 1540;
}

.multi-file-upload .multi-file-upload-slide.active {
	opacity: 1;
	display: block;
	z-index: 1550;
}

.multi-file-upload.slide .multi-file-upload-slide {
	position: relative;
	float: left;
	opacity: 0;
	width: 100%;
	height: auto;
	overflow-x: hidden;
	padding: 20px;
	z-index: 1540;
}

.multi-file-upload.slide .multi-file-upload-slide.active {
	opacity: 1;
}

.multi-file-upload-file img {
	border: 1px solid #979797;
	width: 100%;
}

.multi-file-upload-ul-surround {
	overflow: hidden;
}

.multi-file-upload-navigation {
	margin: 0;
	padding: 0;
	width: 16%;
	box-sizing: border-box;
	display: inline-block;
}

.multi-file-upload-hidden-file {
	top: -100px;
	position: absolute;
}

.multi-file-upload-navigation button {
	display: block;
	width: 100%;
	border: none;
	font-size: 25px;
}

.multi-file-upload-navigation button:hover {
	cursor: pointer;
}

.multi-file-upload-navigation button:hover i {
	color: #767676;
}

.multi-file-upload-navigation ul {
	padding: 0;
	margin: 0;
	width: 100%;
}

.multi-file-upload-navigation ul li {
	border-bottom: 1px solid #dddddd;
	justify-content: center;
	text-shadow: 0 1px 0 #000000;
	text-align: center;
	margin: 0;
}

.multi-file-upload-navigation ul img {
	width: 100%;
	opacity: 0.7;
	-webkit-filter: grayscale(70%);
	filter: grayscale(70%);
}

.multi-file-upload-navigation ul li i {
	font-size: 40px;
	display: block;
	margin-bottom: 4px;
}

.multi-file-upload-navigation ul li.active {
	color: #ffffff;
}

.multi-file-upload-navigation ul li.active img, .multi-file-upload-navigation ul li.active:hover img {
	opacity: 1;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.multi-file-upload-column {
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	margin: 0;
	padding: 10px 20px;
	text-align: left;
	vertical-align: top;
}

.multi-file-upload-column label {
	display: block;
	width: 100%;
	font-weight: bold;
	padding: 2px 0;
	font-size: 12px;
}

.multi-file-upload-column input, .multi-file-upload-column textarea {
	margin-bottom: 0;
	position: relative;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #ccc;
	background-image: none;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	padding: 4px 8px;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: normal;
}

.multi-file-upload-progress {
	display: inline-block;
	width: 35%;
}

.multi-file-upload-button-sm {
	display: inline-block;
	width: 25%;
}

.multi-file-upload-button-surround .multi-file-upload-button-sm:nth-child(1){
	text-align: left;
}

.multi-file-upload-button-surround .multi-file-upload-button-sm:nth-child(2){
	text-align: left;
}

.multi-file-upload-button-surround .multi-file-upload-button-sm:nth-child(3){
	text-align: right;
}

.multi-file-upload-button-surround .multi-file-upload-button-sm:nth-child(4){
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.btn {
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.btn-gap {
	margin: 0 3px;
}

.btn-primary {
	background-image: linear-gradient(to bottom, #337ab7 0px, #265a88 100%);
	background-repeat: repeat-x;
	border-color: #245580;
	color: #fff;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
	background-color: #286090;
	border-color: #204d74;
	color: #fff;
}

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
	background-image: none;
}

.btn-success {
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: #fff;
}

.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .dropdown-toggle.btn-success {
	background-color: #449d44;
	border-color: #398439;
	color: #fff;
}

.btn-success.active, .btn-success:active, .open > .dropdown-toggle.btn-success {
	background-image: none;
}

.btn-danger {
	background-color: #d9534f;
	border-color: #d43f3a;
	color: #fff;
}

.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925
}

.btn-btn-danger.active, .btn-btn-danger:active, .open > .dropdown-toggle.btn-btn-danger {
	background-image: none;
}

.btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	box-shadow: none;
	cursor: not-allowed;
	opacity: 0.65;
	pointer-events: none;
}

/* collapsed sidebar styles */
@media only screen and (max-width: 767px) {
	.multi-file-upload-column {
		width: 100%;
	}

	.multi-file-upload-progress {
		width: 100%;
	}

	.multi-file-upload-button-sm {
		width: 50%;
	}

	.multi-file-upload-button-surround .multi-file-upload-button-sm:nth-child(1){
		text-align: left;
	}

	.multi-file-upload-button-surround .multi-file-upload-button-sm:nth-child(2){
		text-align: right;
	}

	.multi-file-upload-button-surround .multi-file-upload-button-sm:nth-child(3){
		text-align: left;
	}

	.multi-file-upload-button-surround .multi-file-upload-button-sm:nth-child(4){
		text-align: right;
	}

	.multi-file-upload .btn {
		padding: 4px 8px;
		font-size: 12px;
		width: 80%;
		margin: 2px 0;
	}
}