

/*! qTip RMG-Blue tooltip style */
.qtip-rmg-blue {
	background-color: #abaaaa;
	border-color: #303030;
	color: #ffffff;
}

.qtip-rmg-blue.qtip-shadow {
	border: 1px solid #6d6d6d;
}
.qtip-rmg-blue .qtip-titlebar {
	background: none;
	background-color: #00a8e1;
	*background-color: #0b5f9f;
	background-image: -moz-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00a8e1), to(#0b5f9f));
	background-image: -webkit-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: -o-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: linear-gradient(to bottom, #00a8e1, #0b5f9f);
	-pie-background: linear-gradient(#00a8e1, #0b5f9f);
	background-repeat: repeat-x;
	-webkit-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	color: #ffffff;
}

.qtip-rmg-blue .qtip-icon {
	border-color: #444;
}

.qtip-rmg-blue .qtip-titlebar .ui-state-hover {
	border-color: #303030;
}


.selector_buttons {
	display: inline-block;
	padding:0;
	width:auto;
	margin:0;
}

.selector_block {
	display: inline-block;
	padding: 0;
	width:auto;
	margin:0;
}

.selector_buttons .ui-button {
	margin:0 1px 0 0;
	position:relative;
	text-decoration:none;
	color:#ffffff;
	font-weight:bold;
	font-size:12px;
	border:1px solid #5c5c5c;
	background: none;
	background-color: #00a8e1;
	*background-color: #0b5f9f;
	background-image: -moz-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00a8e1), to(#0b5f9f));
	background-image: -webkit-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: -o-linear-gradient(top, #00a8e1, #0b5f9f);
	background-image: linear-gradient(to bottom, #00a8e1, #0b5f9f);
	-pie-background: linear-gradient(#00a8e1, #0b5f9f);
	background-repeat: repeat-x;

	-webkit-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
}

.selector_buttons .ui-button.ui-state-default .ui-icon {
	background-image: url("/css/custom-theme/images/ui-icons_ffffff_256x240.png");
}

.selector_buttons.ui-buttonset {
	float:left;
	margin:0 12px 0 0;
	padding:0;
	min-height:18px;
}

.ui-blue {
	color:#8c8a8c;
	display: inline-block;
	width:22px;
	vertical-align:middle;
	height:18px;
	text-align:center;
	margin:0;
}

.ui-blue i {
	margin-top: 2px;
	display:inline-block;
	color:#ffffff;
}

.selector_buttons .ui-blue:hover {
	color:#242224;
}

.selector_waiting {
	float:left;
	padding-top:50px;
	text-align:center;
	width:100%;
}

.ui-blue-text {
	float:left;
	padding:0px;
	min-height: 18px;
	line-height:18px;
	margin:0;
	position: relative;
	overflow: hidden;
	color: #fff;
}

.ui-blue-colour-blob, .ui-blue-small-colour-blob {
	float:left;
	display: inline-block;
	padding:0px;
	height: 18px;
	width: 30px;
	margin:0 12px 0 0;
	position: relative;
	overflow: hidden;
	border:1px solid #c2c2c2;

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/css/PIE.php);
}

.ui-blue-small-colour-blob {
	height: 10px;
}


